USE [master]
GO
/****** Object:  Database [LabDatos]    Script Date: 25/03/2026 10:40:32 p. m. ******/
CREATE DATABASE [LabDatos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LabDatos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS01\MSSQL\DATA\LabDatos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LabDatos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS01\MSSQL\DATA\LabDatos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LabDatos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LabDatos]
GO
/****** Object:  Table [dbo].[Ciudadanos]    Script Date: 25/03/2026 10:40:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ciudadanos](
	[Id] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Edad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Ciudadanos] ([Id], [Nombre], [Edad]) VALUES (1, N'Abdiel Herrera', 28)
INSERT [dbo].[Ciudadanos] ([Id], [Nombre], [Edad]) VALUES (2, N'Oscar Ibarra', 35)
INSERT [dbo].[Ciudadanos] ([Id], [Nombre], [Edad]) VALUES (3, N'Oscar Almanza', 22)
GO
USE [master]
GO
